
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

h2 {
    color: #333;
}

form {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}

/*Administrator*/
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}

.side_nav {
    position: fixed;
    background-color: #3b6583;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.side_nav > h2 {
    display: flex;
    padding: 0 0.5rem;
    color: #d4f1ff;
    font-size: 1.6rem;
    font-weight: lighter;
}

button[name="logout"]{
    border-radius: 0.25rem;
    background: #a83e3e;
    color: #ffffff;
}

button[name="logout"]:hover {
    border-radius: 0.1rem;
    background: #fa5d5d;
    color: #ffffff;
}

.content {
    position: relative;
    left: 20%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.content_user > div {
    padding: 1rem 1.5rem;
    background-color: rgba(172, 220, 255, 0.4);
    display: flex;
    justify-content: space-between;
}

.content_user {
    position: sticky;
    top: 0;
    z-index: 100;
}

.content_user-left {
    display: flex;
}

.content_user-left > div {
    padding: 0 0.5rem;
}

.content_data {
    display: flex;
    justify-content: space-around;
}

.content_data > a {
    padding: 0.5rem 2rem;
}

.content_data > a:hover {
    background-color: #c8e5ff;
    color: #000000;

}

.content_manage {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #000000;
    border-radius: 0.5rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: lighter;
}

/*Users Data*/

.content-data_user {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
}

.content-data_user--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content-data_user table tbody tr:hover {
    background-color: #bebebe;
    cursor: pointer;
}

th {
    background-color: #cccccc;
    border-spacing: 0;
}

td {
    text-align: center;
}

.content_data-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0 1rem;
}

/* Add this CSS code to your styles.css file */
.nav-button {
    display: flex;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5d8fb3;
    text-align: left;
    margin: 0;
    font-size: 1rem;
}

.nav-button:hover {
    background-color: #425b70;
    border-radius: 0.1rem;
    color: white;
    cursor: pointer;
}

.nav-button.active {
    border-radius: 0.1rem;
    background-color: #c8e5ff;
    color: #000000;
}

.content_data-container--header {
    display: flex;
    align-items: center;
}

.back-button {
    padding: 0.25rem;
    margin: 0 0.25rem;
}

.back-button:hover {
    background-color: #b0efef;
    border-radius: 50%;
    padding: 0.25rem;
    margin: 0 0.25rem;
}

.edit_user {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.edit_user > label {
    width: 30%;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[readonly] {
    background-color: #eaeaea;
    cursor: not-allowed;
}

.edit_user > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.edit_user-update {
    background-color: #427070;
}


input[name="delete"] {
    background-color: #a83e3e;
    margin: 0 0.5rem;
}

input[name="delete"]:hover {
    background-color: #7c3434;
    margin: 0 0.5rem;
}

.addUser_form {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
}

.addUser {
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: flex-end;
}

.addUser > label {
    width: 47%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_data-header {
    display: flex;
    align-items: center;
    width: 100%;
}

input[name="add"] {
    margin: 0 0.5rem;
    height: max-content;
}

input[name="add"]:hover {
    margin: 0 0.5rem;
}

.addUser > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5rem;
}

.form-details {
    padding: 0.5rem;
    margin: 0 2rem;
    background: #ffffff;
    width: 40%;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: max-content;
}

/* Add Disease */

.addDisease_form {
    width: 100%;
    padding: 0.5rem 1rem;
}

.addDisease {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: flex-end;
}

.addDisease > label {
    width: 100%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addDisease > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5rem;
}

/* Add Symptom */

.addSymptom_form {
    width: 100%;
    padding: 0.5rem 1rem;
}

.addSymptom {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: flex-end;
}

.addSymptom > label {
    width: 100%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addSymptom > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5rem;
}

/*Edit Disease*/

.edit_disease {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: flex-end;
}

.edit_disease > label {
    width: 100%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textarea[name="disease_description"] {
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.edit_disease > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5rem;
}

/*Edit Symptom*/
.edit_symptom {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: flex-end;
}

.edit_symptom > label {
    width: 100%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textarea[name="symptom_description"] {
    max-width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.edit_symptom > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5rem;
}

/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}


.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container label {
    display: block;
    margin-bottom: 10px;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container input[type="checkbox"] {
    margin-right: 5px;
}

.container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.container p {
    margin-top: 10px;
    text-align: center;
}

.container p.error-message {
    color: red;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 0.5rem;
    width: 30vw;
    border-radius: 0.5rem;
}

.login > label {
    width: 90%;
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login > div {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5rem;
}

.login > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    text-decoration: underline;
}

.login > p {
    width: 100%;
    padding: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.showPassword > label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.forgotPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 0.5rem;
    width: 30vw;
    border-radius: 0.5rem;
}

.forgotPassword > label {
    width: 90%;
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forgotPassword > div {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5rem;
}

.forgotPassword > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    text-decoration: underline;
}

.forgotPassword > p {
    width: 100%;
    padding: 0;
}


.resetPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 0.5rem;
    width: 30vw;
    border-radius: 0.5rem;
}

.resetPassword > label {
    width: 90%;
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resetPassword > div {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5rem;
}

.resetPassword > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    text-decoration: underline;
}

.resetPassword > p {
    width: 100%;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}


.registration-form {
    max-width: 100vw;
    margin: 0 auto;
    height: fit-content;
}

.registration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5rem 1rem;
    width: 50vw;
    border-radius: 0.5rem;
}

.registration > label {
    width: 45%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration > div {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5rem;
}

.registration > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    text-decoration: underline;
}

#mostAnalyzedDiseasesTable {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    color: #000000;
    margin: 1rem 1.5rem;
    height: auto;
    padding: 1rem;
    align-items: center;
}

#mostAnalyzedDiseasesTable > div {
    padding: 0 2rem;
}

#lineChartsContainer {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    color: #000000;
    margin: 1rem 1.5rem;
    padding: 1rem 0;
}

.lineChart {
    display: flex;
    flex-wrap: wrap;
}

.tablengraph {
    display: flex;
    flex-direction: column;
}


.disease_name {
    font-size: 1.25rem;
    text-decoration: underline;
    text-align: center;
    padding: 0.25rem;

}

.percentage {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 0.25rem;
}


