/* Reset styles */
html, body{
    margin: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.5;
}

.link {
    display: inline-block;
    padding: 2rem;
    text-decoration: none;
    border-radius: 4px;
}

.footer {
    margin-top: 20px;
    text-align: right;
}

.footer a {
    color: #999;
    text-decoration: none;
}

.footer a:hover {
    color: #555;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="submit"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6fb5d5;
    padding: 0.25rem 1rem;
    height: 3rem;
}

.content_header-left{
    display: flex;
    align-items: center;
}

.content_header-left > h3{
    margin-right: 1rem;
}

.content{
    height: 90%;
}

.content_home{
    top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patient_data {
    background-color: #eaeaea;
    padding: 1rem 0 1rem 2rem;
    border-radius: 0.25rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_position{
    position: fixed;
    width: 100vw;
}


.content_data-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14rem;
}

.addUser_form {
    display: flex;
    padding: 0.5rem 1.5rem;
}

.addUser{
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
    align-items: flex-end;
    border-radius: 0.2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.addUser > label{
    width: 45%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#session-expire{
    display: none;
    position: absolute;
    z-index: 1000;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #a83e3e;
    color: #ffffff;
    left: 45%;
    font-size: 1.25rem;
}

.link{
    width: 20rem;
    height: 20rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
}

.link > div,
.link > h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link > h1{
    text-decoration: underline;
}

.actions{
    display: flex;
    justify-content: space-around;
}

#newDiagnosis{
    background-color: #778899FF;
    color: #000000;
}

#newDiagnosis:hover{
    background-color: rgba(119, 136, 153, 0.9);
}

#history{
    background-color: darkslategrey;
    color: #ffffff;
}

#history:hover{
    background-color: rgba(47, 79, 79, 0.9);
}

#PatientData thead th{
    background-color: #d6e9f7;
    border: 1px solid #ddd;
    padding: 8px;
}

#PatientData tbody tr:hover{
    background-color: #c8e5ff;
    cursor: pointer;
}

.viewDiagnosis {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.2rem 0.2rem 0 0;
    padding: 1rem 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.viewDiagnosis > label {
    width: 30%;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userSettings{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

button[name="setting"]{
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    background-color: #5d8fb3;
    color: #ffffff;
}

button[name="setting"]:hover {
    background-color: #c8e5ff;
    color: #000000;
    cursor: pointer;
}

button[name="logout"]{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background: #a83e3e;
    color: #ffffff;
}

button[name="logout"]:hover {
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    background: #fa5d5d;
    color: #ffffff;
}

.settings{
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
    align-items: flex-end;
    border-radius: 0.2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.settings > label{
    width: 45%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings > div {
    width: 100%;
    margin: 0 1.5rem;
    display: flex;
    justify-content: flex-end;
}

button[name="update"],
input[name="reset"],
input[name="search"]
{
    border: none;
    border-radius: 0.2rem;
    background-color: #5d8fb3;
    color: #ffffff;
    padding: 0.5rem;
}

input[name="reset"]{
    width: 40%;
    padding: 0.75rem 0;
}

button[name="update"]:hover,
input[name="reset"]:hover,
input[name="search"]:hover
{
    background-color: #c8e5ff;
    color: #000000;
    cursor: pointer;
}

input[readonly],
textarea[readonly]{
    background-color: #eaeaea;
    cursor: not-allowed;
}

button[name="changePassword"]
{
    border: none;
    border-radius: 0.2rem;
    background-color: #5d8fb3;
    color: #ffffff;
    padding: 0.5rem;
}
button[name="changePassword"]:hover{
    background-color: #c8e5ff;
    color: #000000;
    cursor: pointer;
}

.resetPassword{
    display: flex;
    align-items: center;
    width: 70vw;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resetPassword > label {
    width: 100%;
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resetPassword > div {
    width: 100%;
    margin: 0 1.5rem;
    display: flex;
    justify-content: center;
}

.settingsForm{
    display: flex;
    justify-content: center;
}

.search_results{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}